# Database (PostgreSQL) Configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=

# Valkey (Redis-compatible) Configuration
VALKEY_HOST=
VALKEY_PORT=
VALKEY_DB=
VALKEY_PASSWORD=

# Mosquitto MQTT Configuration
MQTT_HOST=
MQTT_PORT=
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_KEEPALIVE=